/* .container-md{
    width: 55vw;
} */
* {
    scrollbar-width:none;
    scrollbar-color: #888 #f6f6f6;
}

header img {
    height: 50px;
}
.nav-item .nav-link{
    color: #333;
}
.nav-item .nav-link:hover{
    color: darkorange;
}
.nav-item .nav-link:focus {
    color: darkmagenta;
}


footer p{
    margin: 0;
}
.link_light{
        color: RGBA(var(--bs-light-rgb), var(--bs-link-opacity, 1)) !important;
        /* -webkit-text-decoration-color: RGBA(var(--bs-light-rgb), var(--bs-link-underline-opacity, 1)) !important; */
        text-decoration-color: RGBA(var(--bs-light-rgb), var(--bs-link-underline-opacity, 1)) !important;
        text-decoration: underline;
        text-underline-offset: 0.25em !important;
        --bs-link-underline-opacity: 0.25;
        color: RGBA(249, 250, 251, var(--bs-link-opacity, 1)) !important;
        -webkit-text-decoration-color: RGBA(249, 250, 251, var(--bs-link-underline-opacity, 1)) !important;
        text-decoration-color: RGBA(249, 250, 251, var(--bs-link-underline-opacity, 1)) !important;
} 
.link_light:hover {
    --bs-link-underline-opacity: 1;
}
