.box-7 .info-top img{
    display: none;
}
.box-7 .info-top h2{
    display: none;
}
.box-4 p{
    color: #555;
}
.box-6 div h3{
    margin: 2px;
    padding: 0 40px;
}
.box-4{
    padding: 0 10px;
}
.container{
    box-shadow: 0px 0px 0px #111;
}
.box-3 div div{
    box-shadow: inset 0 0 0 50px #555;
}
.collapsible{    
    color: ;
    box-shadow: inset 0 0 0 50px #fc1;
    line-height: 1;
    padding: 0 5px;
    font-family: system-ui;
    font-size: large;
}
.slideshow{
    position: static;
}
.slide{
    margin: 0 -100px !important;
}
.box-6 section{
    padding: 5px 0;
    margin: 5px 0;
}
.box-5 div span{
    text-shadow: 0px 0px 0px #000, 0px 0px 0px #fff;
}
.box-7 .info-top dl dd,
.box-7 .info-top dl dd a{
    color: #555;
}
.box-7 .info-top {
    border-bottom: 0 solid;
    padding-top: 40px;
}